<div class="systems">
    <div>системы</div>
                    <div><input type="radio" name="eq" value="1"> { x^2 + y^2 - 4;  y - 3x^2 }</div>
                    <div><input type="radio" name="eq" value="2">{ sin(x) + y - 1; -2x^3 - 4y + 5 }</div>
                </div>
                <div class="methods">
                    <div>Метод Ньютона</div>
                </div>
                <div class="txt">
                    <div>Начальное значение x: <input type="text" id="left"></div>
                    <div>Начальное значение y: <input type="text" id="right"></div>
                </div>
                <div class="buttons">
                    <input type="submit" id="submit_sys" onclick="requestSystem(event)" value="Отправить">
                </div>